*{
    margin:0;
    padding: 0;
}

body{
    background-color: #f1eade;
}

.title{
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
}

header{
    text-align: center;
    margin-top: 3vh;
    padding: 0 20vw 0 20vw;
    display: flex;
    justify-content: space-evenly;
}

button{
    height: 4vh;
    width: 12vw;
    border: 0;
    background-color: #E19212;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    cursor: pointer;
}

img{
    height: 42vh;
    margin-right: 5vw;
    border-radius: 50%;
}


#home-text h1{
    margin-bottom: 2vh;
    color: #E19212;
}

h1{
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
    color: #E19212
}
h2{
    margin-top:2.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    color:#005248;
}

svg{
    height: 9vh;
    width: 9vw
}

svg:hover path{
    fill: black;
}

#icons-container{
    margin-top: 10vh;
    margin-left: 7vw;
    margin-bottom: 16vh;
    display:grid;
    grid-template-columns: 1fr 10fr 1fr 10fr;
    grid-template-rows: 10vh 10vh 10vh;
    grid-gap: 5vh;
}

footer{
    background-color: #005248;
    height: 10vh;
}

