*{
    margin:0;
    padding: 0;
}

body{
    background-color: #f1eade;
}

.title{
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
}

header{
    text-align: center;
    margin-top: 3vh;
    padding: 0 20vw 0 20vw;
    display: flex;
    justify-content: space-evenly;
}

button{
    height: 4vh;
    width: 12vw;
    border: 0;
    background-color: #E19212;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    cursor: pointer;

    opacity: 0;
    transition: .5s linear;
}

main{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

img{
    height: 42vh;
    margin-right: 5vw;
    border-radius: 50%;
}


#home-text h1{
    margin-bottom: 2vh;
    color: #E19212;
}

#home-text h2{
    color: #005248;
}


