*{
    margin:0;
    padding: 0;
}

body{
    background-color: #f1eade;
}

header{
    text-align: center;
    margin-top: 3vh;
    padding: 0 20vw 0 20vw;
    display: flex;
    justify-content: space-evenly;
}

button{
    height: 4vh;
    width: 12vw;
    border: 0;
    background-color: #E19212;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    cursor: pointer;
}

h1{
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    font-family: 'Rubik', sans-serif;
    font-size: 6vh;
    color: #E19212
}

h2{
    padding-top: 4vh;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-family: 'Rubik', sans-serif;
    font-size: 4.5vh;
    color: white
}

main{
    height: 65vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #005249;
    border-radius: 12px;
}

table{
    width: 100%;
    border-spacing: 2vh;
    overflow: auto;
}

td,th{
    text-align: start;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: 400;
    font-size: 1vw;
    padding: 1vh;
}

th{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

a{
    color: white;
}

